snippet "b(egin)?" "begin{} / end{}" br
\begin{${1:something}}
${2:${VISUAL}}
\end{$1}
endsnippet

snippet fig "Figure environment" b
\begin{figure}${2:[htpb]}
\centering
\includegraphics[width=${3:0.8}\linewidth]{${4:name.ext}}
\caption{${4/(\w+)\.\w+/\u$1/}$0}
\label{fig:${4/(\w+)\.\w+/$1/}}
\end{figure}
endsnippet

snippet ref "Generic reference"
${1:text}~\\${2:ref}\{${3:id}\}
endsnippet

snippet it "Item" b
\item ${1:${VISUAL}}
endsnippet
